@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.Sections {
  margin-top: 2.5%;
  text-align: center;
  height: 100%;
}

.Section {
  width: 35%;
}

.Wrapper {
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  max-width: 1000px;
  padding-bottom: 25px;
  border-radius: 25px;
  border: 4px solid #0049f4;
}
